@charset "UTF-8"; /*GBK GB2312*/

/*    ----- Common  ----    */

html, body, section{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: "Microsoft YaHei Mono";
}

section{
    position: relative;
}

.pos{
    position: absolute;
    left: 50%;
    top:50%;
}


/*    ----- Common  ----    */


section.p1{
    background: url(../images/page1_glow.png) no-repeat center 100px, linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
}

section.p2{
    background: linear-gradient(0deg, #41b93e 0%, #3b9e3c 35%, #274535 75%, #190530 100%);
}

section.p3{
    background: linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
}

section.p4{
    background: url(../images/page4_glow.png) no-repeat center 200px, linear-gradient(0deg, #ff9f42 0%, #ed923d 35%, #6d3816 75%, #2e0b04 100%);
}

section.p5{
    background: url(../images/page5_glow.png) no-repeat center -300px,linear-gradient(0deg, #d74d53 0%, #c44655 35%, #4c184c 75%, #110145 100%);
}

/*
  GPS
*/
.gps{
    width: 10px;
    height: 140px;
    position: fixed;
    top:50%;
    right: 20px;
    margin-top: -70px;
    /*background-color: red;*/
}

.gps li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    margin-bottom: 22px;
}

.gps li:last-child{
    margin-bottom: 0;
}

.gps li.cur{
    background-color: #fff;
}

/*
  footer
*/
.footer{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0;
    bottom: 20px;
    /*background-color: red;*/
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bolder;
}

.footer>span{
    float: left;
}

.footer ul{
    float: right;
}

.footer ul li{
    float: left;
}

.footer ul li a{
    text-decoration: none;
    color: #fff;
}

.footer ul li span{
    margin-right: 5px;
}

#scroll{
    position: absolute;
    width: 29px;
    height: 31px;
    left: 50%;
    bottom: 30px;
    margin-left: -15px;
    animation: upAndDown 0.8s infinite alternate;
    display: none;
}

@keyframes upAndDown {
    0%{transform:translateX(0px) translateY(10px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
}

/*
  hd-logo
*/
#hd-logo{
    width: 260px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 15px;
    top: 15px;
   /* background-color: red;*/
}

#hd-logo img{
    vertical-align: middle;
}

#hd-logo a{
    float: right;
    text-decoration: none;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 9px;
    border-radius: 15px;
}

/*
  p1
*/
.p1{
   perspective: 1200px;
}

.p1 .p1Title{
    width: 530px;
    height: 140px;
    line-height: 140px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -265px;
   /* background-color: red;*/
}

.p1 .p1Title img{
    width: 350px;
    vertical-align: middle;
}

.p1 .p1Title a{
    float: right;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 49px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.p1 .p1Title a:hover{
    color: #221b57;
    background-color: #fff;
}

.p1 .p1Main, .p1 .p1Main ul{
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
    /*background-color: red;*/
}

.p1 .p1Main ul li{
    width: 580px;
    height: 361px;
    margin-left: -290px;
    margin-top: -180px;
    /* 当元素背向时不可见*/
    backface-visibility: hidden;
}

/* rotate with Y */
.p1 .p1Main ul{
    transform-style: preserve-3d;
    animation: p1Round 20s infinite alternate;
}

@keyframes p1Round {
    0%{transform:translateX(0px) translateY(10px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p1 .p1Main ul li:nth-child(1){
    transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}

.p1 .p1Main ul li:nth-child(2){
    transform: translateX(0px) translateY(0px) translateZ(70px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p1 .p1Main ul li:nth-child(3){
    transform:translateX(0px) translateY(0px) translateZ(70px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}

.p1 .p1Main ul li:nth-child(4){
    transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}

.p1 .p1Main ul li:nth-child(5){
    transform:translateX(0px) translateY(0px) translateZ(-70px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}

.p1 .round{
    width: 680px;
    height: 680px;
    margin-left: -340px;
    margin-top: -340px;
    /*transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(-12deg) rotateZ(0deg) scaleX(1.5) scaleY(1.5) scaleZ(1);*/
    animation: p1Circle 2s infinite linear;
}

@keyframes p1Circle {
    0%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(-12deg) rotateZ(0deg) scaleX(1.5) scaleY(1.5) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(-12deg) rotateZ(360deg) scaleX(1.5) scaleY(1.5) scaleZ(1)}
}

/*
  p2
*/
.p2{
  perspective: 1000px;
}

.p2 .p2Bg span{
    width: 5000px;
    height: 1px;
    background-color: #c7e00e;
    margin-top: -0.5px;
    margin-left: -2500px;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}
.p2 .p2Bg img:nth-of-type(1){
    width: 684px;
    height: 395px;
    margin-top: -197px;
    margin-left: -92px;
}
.p2 .p2Bg img:nth-of-type(2){
    width: 346px;
    height: 123px;
    margin-top: -62px;
    margin-left: 73px;
}

.p2 .p2Main, .p2 .p2Main ul{
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
    /*background-color: red;*/
}

.p2 .p2Main ul{
    transition: all 1s linear;
}

.p2 .p2Main ul li{
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
    animation: p2Circle 2s infinite linear;
}

@keyframes p2Circle {
    0%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p2 .p2Main ul li:nth-child(1){
    left:70%;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(37deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p2 .p2Main ul li:nth-child(2){
    left:60%;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(35deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p2 .p2Main ul li:nth-child(3){
    left:50%;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(37deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p2 .p2Main ul li:nth-child(4){
    left:40%;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(35deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p2 .p2Title{
    width: 370px;
    height: 200px;
    margin-left: -544px;
    margin-top: -43px;
    transition: all 1s linear;
}

.p2 .p2Title p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.p2.current .p2Title, .p2.current .p2Main ul{
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(1);
}

/*
  page3
*/
.p3{
    perspective: 1000px;
}

.p3 .p3Bg img:nth-child(1){
    width: 1368px;
    height: 1111px;
    margin-left: -684px;
    margin-top: -521px;
}

.p3 .p3Bg img:nth-child(2){
    width: 131px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
}

.p3 .p3Main{
    transition: all 1s linear;
}

.p3 .p3Main, .p3 .p3Main ul{
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
}

.p3 .p3Main ul li{
    width: 680px;
    height: 680px;
    margin-left: -340px;
    margin-top: -340px;
    border: 2px solid #5ec0ff;;
    border-radius: 50%;
}

.p3 .p3Main ul li:nth-child(1){
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p3 .p3Main ul li:nth-child(2){
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p3 .p3Main ul li:nth-child(3){
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(60deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

/*imgÃ¨Â½Â¬Ã¥Å Â¨Ã¨ÂµÂ·Ã¦ÂÂ¥*/
.p3 .p3Main ul li:nth-child(1) img{
    animation: p3Round 2s infinite linear;
}

.p3 .p3Main ul li:nth-child(2) img{
    animation: p3Round 3s infinite linear;
}

.p3 .p3Main ul li:nth-child(3) img{
    animation: p3Round 4s infinite linear;
}

@keyframes p3Round {
    0%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p3 .p3Main ul{
    transform-style: preserve-3d;
    /*transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(5deg) scaleX(1) scaleY(1) scaleZ(1);*/
    animation: p3Circle 20s infinite linear;
    transition: all 1s linear;
}

@keyframes p3Circle {
    0%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(5deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(360deg) rotateZ(5deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p3 .p3Title{
    width: 450px;
    height: 149px;
    margin-left: 125px;
    margin-top: -91px;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(14deg) rotateY(-13deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transition: all 1s linear;
}

.p3.current .p3Main{
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(5) scaleY(5) scaleZ(1);
}

.p3.current .p3Title{
    transform: translateX(1000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

/*
  page4 第四页
*/
.p4{
    perspective: 1000px;
}

.p4 .p4Lines{
    width: 5000px;
    height: 230px;
    /*background-color: red;*/
    margin-left: -2500px;
    margin-top: 39px;
}

.p4 .p4Lines .line span{
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top:0;
    background-color: #fff;
}

.p4 .p4Lines .line:nth-child(2) span{
    top: 230px;
}

.p4 .p4Lines .line img{
    width: 346px;
    height: 123px;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -173px;
    margin-top: -62px;
    animation: p4Lines 1s infinite linear;
}

.p4 .p4Lines .line:nth-child(2) img{
    top: 230px;
    animation: p4Lines 0.5s infinite linear;
}

@keyframes p4Lines {
    0%{transform:translateX(-1000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(1000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p4 .p4Main, .p4 .p4Main ul{
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
}

.p4 .p4Main ul li{
    width: 414px;
    height: 414px;
    margin-left: -207px;
    margin-top: -207px;
}

.p4 .p4Main ul{
    transform-style: preserve-3d;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transition: all 1s linear;
}

.p4 .p4Main ul li:nth-child(1){
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4Main ul li:nth-child(2){
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4Main ul li:nth-child(3){
    transform: translateX(0px) translateY(0px) translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4Main ul li:nth-child(4){
    transform: translateX(0px) translateY(0px) translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1.1) scaleY(1.1) scaleZ(1);
}

.p4 .p4Main ul li:nth-child(5){
    transform: translateX(0px) translateY(0px) translateZ(10px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1.2) scaleY(1.2) scaleZ(1);
}

.p4 .p4Main ul li:nth-child(1) img{
    animation: p4Circle 60s infinite linear;
}
.p4 .p4Main ul li:nth-child(2) img{
    animation: p4Circle 20s infinite linear;
}
.p4 .p4Main ul li:nth-child(3) img{
    animation: p4Circle 20s infinite linear;
}
.p4 .p4Main ul li:nth-child(4) img{
    animation: p4Circle 5s infinite linear;
}
.p4 .p4Main ul li:nth-child(5) img{
    animation: p4Circle 4s infinite linear;
}

@keyframes p4Circle {
    0%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)}
    100%{transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1)}
}

.p4 .p4Tag{
    width: 240px;
    height: 80px;
    margin-left: -420px;
    margin-top: -40px;
    color: #fff;
    transition: all 1s linear;
}

.p4 .p4Tag p{
    line-height: 30px;
}

.p4 .p4Title{
    width: 300px;
    height: 71px;
    margin-left: 150px;
    margin-top: -98px;
    transform: rotateX(34deg) scaleX(1.2) scaleY(1.2);
    transition: all 1s linear;
}

.p4.current .p4Main ul{
    transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(5) scaleY(5) scaleZ(1)
}

.p4.current  .p4Tag{
    transform:translateX(-1000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}

.p4.current  .p4Title{
    transform:translateX(1000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1)
}


/*
  page5
*/
.p5{

}

.p5 .page5Main,.p5 .page5Main ul{
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
}

.p5 .page5Main ul li{
    text-align: center;
}

.p5 .page5Main ul li img{
    vertical-align: middle;
}

.p5 .page5Main ul li:nth-child(1){
    width: 305px;
    height: 305px;
    line-height: 305px;
    margin-left: -152px;
    margin-top: -152px;
    background: url('../images/page5_bubble_glow.png') no-repeat;
    transition: all 1s linear;
}

.p5 .page5Main li:nth-child(2){
    width: 210px;
    height: 210px;
    background: url(../images/page5_bubble.png) no-repeat;
    line-height: 210px;
    margin-left: -272px;
    margin-top: -234px;
    background-size:cover;
    transition: all 1s linear;
}
.p5 .page5Main li:nth-child(3){
    width: 250px;
    height: 250px;
    background: url(../images/page5_bubble.png) no-repeat;
    line-height: 250px;
    margin-left: -324px;
    margin-top: 70px;
    background-size:cover;
    transition: all 1s linear;
}
.p5 .page5Main li:nth-child(4){
    width: 180px;
    height: 180px;
    background: url(../images/page5_bubble.png) no-repeat;
    line-height: 180px;
    margin-left: 175px;
    margin-top: 46px;
    background-size:cover;
    transition: all 1s linear;
}
.p5 .page5Main li:nth-child(5){
    width: 120px;
    height: 120px;
    background: url(../images/page5_bubble.png) no-repeat;
    line-height: 120px;
    margin-left: 170px;
    margin-top: -195px;
    background-size:cover;
    transition: all 1s linear;
}
.p5 .page5Main li:nth-child(6){
    width: 90px;
    height: 90px;
    background: url(../images/page5_bubble.png) no-repeat;
    line-height: 90px;
    margin-left: 265px;
    margin-top: -140px;
    background-size:cover;
    transition: all 1s linear;
}

.p5 .page5Main li:nth-child(6) img{
    transform: scaleX(0.5) scaleY(0.5);
}

.p5 .p5Tag{
    width: 230px;
    height: 80px;
    color: #fff;
    margin-left: -465px;
    margin-top: -30px;
    transition: all 1s linear;
}

.p5 .p5Title{
    width: 460px;
    height: 150px;
    margin-left: 190px;
    margin-top: -75px;
    transition: all 1s linear;
}

.p5.current .p5Tag, .p5.current .p5Title{
    transform:translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 100% 100%;
}

.p5.current .page5Main li:nth-child(1){
    margin-left: -1300px;
    margin-top: -200px;
}

.p5.current .page5Main li:nth-child(2){
    margin-left: -1000px;
    margin-top: -500px;
}

.p5.current .page5Main li:nth-child(3){
    margin-left: -1500px;
    margin-top: -500px;
}

.p5.current .page5Main li:nth-child(4){
    margin-left: 1300px;
    margin-top: 500px;
}

.p5.current .page5Main li:nth-child(5){
    margin-left: 1500px;
    margin-top: -400px;
}

.p5.current .page5Main li:nth-child(6){
    margin-left: 800px;
    margin-top: -600px;
}









